h3 { margin-bottom: 0px; margin-top: 10px; font-size: 16px; font-weight: bold; text-transform: uppercase; }

.title { margin-top: 5px; }
.hr { margin-top: 10px; }

/* Person Box */
.person-box { display: none; }
.portrait {
	height: 150px;
  border-radius: 4px;
  float: left;
  margin-right: 20px;
}
.person-row { margin-top: 30px; }
.person-name { color: #000000; margin-top: 10px; font-size: 24px; font-weight: bold; }
.person-vitals { border-radius: 5px; min-height: 150px; display: inline-block; width: 100%; color: #696969; }

.vitals { font-weight: bold; margin-right: 10px; }
.edit-btn, .tree-btn { float: right; }
.tree_icon { width: 32px; height: 32px; }

.person-birth-date, .person-death-date { margin-top: 10px; }

.spouse, .children, .parents, .sources, .memories { list-style-type: none; padding: 0px; }

.one_hop { text-align: center; }

/* D3 */
.link { stroke: #cccccc; stroke: #999; }
.node text { font: 16px sans-serif; }
.node_img { border-radius: 50%; width: 70px; height: 70px; }
