h3 { margin-bottom: 0px; margin-top: 10px; font-size: 16px; font-weight: bold; text-transform: uppercase; }

/* Person Box */
.person-box { display: none; }
.person-mother { float: right; }
.portrait {
	height: 150px;
  border-radius: 4px;
  float: left;
  margin-right: 20px;
}
.person-row { margin-top: 50px; }
.person-name { color: #000000; margin-top: 15px; font-size: 24px; font-weight: bold; }
.personid { width: 700px !important; }
.person-vitals { border-radius: 5px; min-height: 150px; display: inline-block; width: 100%; color: #696969; }
.person-notes { margin-top: 25px; }
.parents { height: 30px; }

.vitals { font-weight: bold; margin-right: 10px; }
.edit-btn { float: right; }

.spouse, .children { list-style-type: none; padding: 0px; }

/* D3 */
.link { stroke: #cccccc; stroke: #999; }
.node text { font: 16px sans-serif; }
.node_img { border-radius: 50%; width: 70px; height: 70px; }
