body { text-align: center; }

svg { margin-top: 32px; border: 1px solid #aaa; }

.person rect { fill: #fff; stroke: #98b8d4; stroke-width: 2px; }
.person { font: 14px sans-serif; cursor: pointer; }
.link { fill: none; stroke: #ccc; stroke-width: 1.5px; }
.name { font-weight: bold; }
.lifespan, .birth_place { fill: #777; }
